services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=nguc
      - MYSQL_USER=iris
      - MYSQL_PASSWORD=123123
      - TZ=Asia/Shanghai
    ports:
      - "3306:3306"
    # volumes:
    #   - ./data/mysql:/var/lib/mysql
    restart: unless-stopped

  postgresql:
    image: postgres:latest
    container_name: postgresql

    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: nguc
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      TZ: Asia/Shanghai
    # 无法将win的文件夹挂载到pg容器中, 存在权限问题
    # volumes:
    #   - ./data/postgres/:/var/lib/postgresql/data/
    restart: unless-stopped

  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    ports:
      - "6379:6379"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./data/valkey/:/data
    restart: unless-stopped

  # 配置中心
  # rnacos:
  #   image: qingpan/rnacos:stable
  #   container_name: rnacos
  #   ports:
  #     - "8848:8848"
  #     - "9848:9848"
  #     - "10848:10848"
  #   volumes:
  #     - ./data/rnacos/:/io:rw
  #   environment:
  #     - RNACOS_INIT_ADMIN_USERNAME=admin
  #     - RNACOS_INIT_ADMIN_PASSWORD=admin
  #     - RNACOS_HTTP_PORT=8848
  #     - TZ=Asia/Shanghai
  #   restart: unless-stopped

  # opentelemetry OTLP相关
  aspire:
    container_name: aspire
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest
    ports:
      - "18888:18888" # Web UI
      - "4317:18889" # OTLP/gRPC
      - "4318:18890" # OTLP/HTTP
    volumes:
      - ./data/aspnet:/aspnet/
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
      - TZ=Asia/Shanghai
    restart: unless-stopped

  # 服务监控
  # uptime_kuma:
  #   image: louislam/uptime-kuma
  #   container_name: uptime_kuma
  #   ports:
  #     - "3010:3001"
  #   restart: unless-stopped

  #  runner:
  #  image: gitlab/gitlab-runner:latest
  #  container_name: gitlab-runner
  #  restart: unless-stopped
  #  volumes:
  #    - ./config/gitlab-runner:/etc/gitlab-runner # 挂载配置文件
  #    - /var/run/docker.sock:/var/run/docker.sock # 如果你希望在 runner 中调用主机的 docker engine，可以在这里配置映射
